<div>
<h1>WELCOME TO CMM CHAT APPLICATION</h1>      
 	<div class="alignment">  
		<p><%= link_to "Create Your Workspace",new_workspace_path,class: "btn btn-lg btn-info" %></p>
		<p><%= link_to "Find  Workspace",'/search' %></p>
	</div>
</div>
 
 

