<<<<<<< HEAD
<h2>Edit Workspaces</h2>
<%= render 'edit_form', workspace: @workspace %>
<%= link_to 'Back', workspaces_path %>
=======

<h1>Edit workspace</h1>
<%= render 'edit_form',workspace: @workspace %>
<%= link_to 'Back', workspace_path %>

>>>>>>> 0bb737eadc9477c6f7a969d69685be7696993344
