<div>
<p><%= link_to "Signup", new_user_path, class: "btn btn-lg btn-info" %></p>
<p><%= link_to "login", new_session_path,class: "btn btn-lg btn-info" %></p>
</div>

<div class="language">
<p> Choose Language:
<%= link_to "English",{:locale=>'en'},class: "btn btn-lg btn-info" %>
&nbsp&nbsp &nbsp&nbsp 
<%= link_to  "日本語",{:locale=>'ja'} ,class: "btn btn-lg btn-info" %>
</p>
<div>