<div>
    <%= groupconversation.user.name %>
        <div>
            <span class="style"><%=groupconversation.message %></span>  
            <%= link_to fa_icon("trash"), groupconversation_path(groupconversation), method: "delete" %> 
            <p class="time"><%= groupconversation.created_at %></p>
        </div>
</div>






