// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.newgroup{
    margin-right:50px;
    margin-left:500px;
    margin-bottom:300px;
}
.editgroup{
    margin-right:50px;
    margin-left:500px;
    margin-bottom:300px;
}
.margin-left{
    margin-left:80px;
  }