// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  body {
    background-color:  #aef1b1 ;
  }
  
  h1,h4 {
    color: green;
    text-align: center;
    
  }
  .alignment{
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }
  .alignment_of_logout{
 margin-top: 10px;
 margin-left: 1200px;
 margin-bottom: 10px;
 font-size:20px;
  }
  