// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    color: rgb(128, 105, 0);
    text-align: center;
}
.newform{
    margin-right:80px;
    margin-left:470px;
    margin-bottom: 350px;
}

.margin-left{
    margin-left:130px;
  }

.login{
    margin-right:50px;
    margin-left:450px;
    margin-bottom: 20px;
}

.link_color {color:red($color: #000000);}

.language{
    margin-left:465px;
}

.margin-left{
    margin-left: 500px;
  }

 


    


    
